

img {width: 100px;
height: 150px;
float:left;
margin-top: 10px; 
margin-right: 10px;} 

h1{color: rgb(128, 33, 4);
text-decoration: underline;
text-align: center;
background-image: url(Binary.jpg) ;
}

p{color: rgb(0, 0, 0);

border-width: 100px ;}

body{margin-top: 50px;}

nav{text-align: center;
border: solid black;
padding: 10px 0;
}

head {background-image: url(Binary.jpg) ;}

nav a{margin: 20px;
text-decoration-color:rgb(128, 33, 4);
color: rgb(128, 33, 4);}
